@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary_1: #676F54;
}

::-webkit-scrollbar {
  width: 0.25em;
  height: 0.25em;
}

::-webkit-scrollbar-thumb {
  background: lightgray;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(167, 165, 165);
}

@supports (scrollbar-color: lightgray white) {
  *{
    scrollbar-color: lightgray white;
    scrollbar-width: thin;
  }
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: #ef4444;
}

input:not(:focus):not(:placeholder-shown):valid {
  border-color: #22c55e;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
  display: block;
}